.expense-list {
    width: 80%;
    margin: 40px auto;
}


.expense-item {
    padding: 5px;
    margin: 5px;

    display: flex;
    justify-content: space-between;

    border-radius: 5px;
    background-color: #cccccc;
}